{% extends 'vinculacion/perfil_base.html' %}
{% load static %}

{% block contenido_perfil %}

<div class="d-flex flex-column align-items-center h-100 w-100">

  <h1 class="titulo-seccion">Selecciona la categoria en la que deseas participar.</h1>

  <div class="row">

    <div class="card col-md-6 text-center">
      <img src="{% static 'img/MEI.jpeg' %}" width="100px" class="card-img-top" alt="premio arbol y bonilla">
      <div class="card-body">
        <h5 class="card-title text-center">Producción Científica y Tecnológica.</h5>
        <a href="#" class="btn btn-primary">Ver detalles.</a>
      </div>
    </div>

    <div class="card col-md-6 text-center">
      <img src="{% static 'img/JAB.png' %}" width="100px" class="card-img-top" alt="premio arbol y bonilla">
      <div class="card-body center">
        <h5 class="card-title text-center">Superación Académica, Formación de Recursos Humanos y Otros.</h5>
        <a href="#" class="btn btn-primary">Ver detalles.</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block elemento_activo %}premios{% endblock %}